@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}
img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  padding: 0 3rem;

  a {
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
  }

  ul {
    display: flex;
  }

  a:hover {
    border-bottom: $primary-color 2px solid;
  }

  h2 {
    width: 7rem;
  }

  h2:hover {
    cursor: pointer;
  }

  .navbar__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
  }

  .navbar__logo {
    font-weight: 400;
    margin-left: 5rem;
  }

  .navbar__brand a {
    margin: 0 2rem;
    letter-spacing: 0.1rem;
  }
}
