@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}
img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.93;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  padding: 0 3rem;

  .navbar__brand a {
    margin-left: 95%;
    letter-spacing: 0.2rem;
    font-family: "Irish Grover", sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }

  a {
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
    letter-spacing: 0.2rem;
    font-family: "Irish Grover", sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
  }

  ul {
    display: flex;
  }

  .navbar__list a:hover {
    border-bottom: $primary 2px solid;
  }

  h2 {
    width: 7rem;
  }

  h2:hover {
    cursor: pointer;
  }

  .navbar__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    cursor: pointer;
  }

  .navbar__logo {
    font-weight: 400;
    margin-left: 95%;
  }
}

.hero {
  background: url("../../assets/home/showcase.jpg") no-repeat center
    center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content {
  h1 {
    font-size: 5rem;
    font-family: "Irish Grover", sans-serif;
  }

  p {
    font-size: 2rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
  }
}
