@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("../../assets/dollar.png"), auto;
}

body {
  font-family: "Open Sans", sans-serif;
  background: $light-color;
  color: #333;
  line-height: 1.6;
  position: relative;

  ul {
    list-style: none;
  }

  a {
    color: #333;
    text-decoration: none;
  }

  h1,
  h2 {
    font-weight: 300;
    line-height: 1.2;
  }

  p {
    margin: 1rem 0;
  }

  img {
    width: 100%;
  }
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  /* Y AXIS 15PX padding AND X AXIS 40px padding  */
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
}
.btn-primary,
.bg-primary {
  background: $primary-color;
  color: $light-color;
}

.btn-secondary,
.bg-secondary {
  background: $secondary-color;
  color: $dark-color;
}

.btn-dark,
.bg-dark {
  background: $dark-color;
  color: $light-color;
}

.bg-light,
.bg-light {
  background-color: $light-color;
  color: $dark-color;
}
