.btn {
  text-transform: uppercase;
  text-decoration: none;
  /* Y AXIS 15PX padding AND X AXIS 40px padding  */
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
}
.btn-primary,
.bg-primary {
  background: $primary-color;
  color: $light-color;
}

.btn-secondary,
.bg-secondary {
  background: $secondary-color;
  color: $dark-color;
}

.btn-dark,
.bg-dark {
  background: $dark-color;
  color: $light-color;
}

.btn-light,
.bg-light {
  background-color: $light-color;
  color: $dark-color;
}
